@page "/utilizatori"
<PageTitle>Utilizatori</PageTitle>

@using BlazorBootstrap
@using ColaborareDocumente.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.UI.Services
@using Microsoft.AspNetCore.Authorization;
@using System.Text.RegularExpressions
@using Microsoft.EntityFrameworkCore;
@using System.Security.Cryptography;
@using System.Text;
@using Microsoft.AspNetCore.WebUtilities
@using System.Text.Encodings.Web
@using System.Security.Claims


@inject IEmailSender EmailSender
@inject UserManager<ApplicationUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ApplicationDbContext dbContext

@rendermode InteractiveServer

<h3>Utilizatori</h3>
<ConfirmDialog @ref="dialog" />

<AuthorizeView>
    <Authorized>

        @if (@context.User.IsInRole(ADMINISTRATION_ROLE))
        {
            <table class="table">
                <thead>
                    <tr>
                        <th width="300">Nume</th>
                        <th width="300">Prenume</th>
                        <th>Email</th>
                        <th width="200">Mobil</th>
                        <th width="200">Rol</th>
                        <th width="200">Email Confirmat</th>
                        <th width="100"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in ColUsers)
                    {
                        <tr>
                            <td>@user.LastName</td>
                            <td>@user.FirstName</td>
                            <td>@user.Email</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.RolName</td>
                            <td>
                                @if (@user.EmailConfirmed)
                                {
                                    <text>Da</text>
                                }
                                else
                                {
                                    <text>Nu</text>
                                }
                            </td>
                            <td>
                                <!-- Editează utilizatorul curent -->
                                <button class="btn btn-primary"
                                        @onclick="(() => EditUser(user))">
                                    Editează
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (ShowPopup)
            {
                <!-- Aceasta este fereastra popup pentru a crea sau edita un utilizator -->
                <div class="modal" tabindex="-1" style="display:block" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                @if (objUser.Id == "")
                                {
                                    <h3 class="modal-title">Adaugă Utilizator</h3>
                                }
                                else
                                {
                                    <h3 class="modal-title">Editează Utilizator</h3>
                                }
                                <!-- Buton pentru a închide fereastra popup -->
                                <button type="button" class="close" style="padding-left: 9px; padding-right: 8px;"
                                        @onclick="ClosePopup">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                            <!-- Formular de editare pentru utilizatorul curent -->
                            <div class="modal-body">

                                <!-- Permite editarea doar dacă este un utilizator nou -->
                                @if (objUser.Id == "")
                                {
                                    <input class="form-control" type="text"
                                           placeholder="Nume"
                                           @bind="objUser.LastName" />
                                    <span style="color:red">@validationMessageLastName</span>
                                }
                                else
                                {
                                    <input class="form-control" type="text"
                                           placeholder="Nume"
                                           @bind="objUser.LastName" disabled />
                                    <span style="color:red">@validationMessageLastName</span>

                                }
                                <br />
                                @if (objUser.Id == "")
                                {
                                    <input class="form-control" type="text"
                                           placeholder="Prenume"
                                           @bind="objUser.FirstName" />
                                    <span style="color:red">@validationMessageFirstName</span>
                                }
                                else
                                {
                                    <input class="form-control" type="text"
                                           placeholder="Prenume"
                                           @bind="objUser.FirstName" disabled />
                                    <span style="color:red">@validationMessageFirstName</span>
                                }
                                <br />
                                @if (objUser.Id == "")
                                {
                                    <input class="form-control" type="text"
                                           placeholder="Email"
                                           @bind="objUser.Email" />
                                    <span style="color:red">@validationMessageEmail</span>

                                }
                                else
                                {
                                    <input class="form-control" type="text"
                                           placeholder="Email"
                                           @bind="objUser.Email" disabled />
                                }
                                <br />
                                <input class="form-control" type="text"
                                       placeholder="Mobil"
                                       @bind="objUser.PhoneNumber" />
                                <br />

                                <select class="form-control"
                                        @bind="@CurrentUserRole">
                                    @foreach (var option in Options)
                                    {
                                        <option value="@option">
                                            @option
                                        </option>
                                    }
                                </select>
                                <br />

                                <!-- Afișează butonul de ștergere doar dacă nu este un înregistrare nouă -->
                                @if (objUser.Id != "")
                                {
                                    <!-- Buton pentru a salva utilizatorul -->
                                    <button class="btn btn-primary"
                                            @onclick="SaveUser">
                                        Actualizează
                                    </button>
                                    <!-- Buton pentru a șterge utilizatorul -->
                                    <button class="btn btn-danger float-end"
                                            @onclick="DeleteUser">
                                        Șterge
                                    </button>
                                }
                                else
                                {
                                    <!-- Buton pentru a salva utilizatorul -->
                                    <button class="btn btn-primary"
                                            @onclick="SaveUser">
                                        Finalizează
                                    </button>
                                }
                                <br />
                                <span style="color:red">@strError</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <button class="btn btn-success" @onclick="AddNewUser">Înrolează Utilizator</button>
        }
        else
        {
            <p>Nu sunteți autentificat ca utilizator în @ADMINISTRATION_ROLE.</p>
        }
    </Authorized>
    <NotAuthorized>
        <p>Nu sunteți autentificat.</p>
    </NotAuthorized>
</AuthorizeView>
@code {
    string validationMessageLastName = "";
    string validationMessageFirstName = "";
    string validationMessageEmail = "";
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    string ADMINISTRATION_ROLE = "Administrator";
    System.Security.Claims.ClaimsPrincipal CurrentUser;

    // Proprietate folosită pentru a adăuga sau edita utilizatorul selectat în prezent
    ApplicationUser objUser = new ApplicationUser();

    // Urmărește rolul selectat pentru utilizatorul curent
    string CurrentUserRole { get; set; } = "Users";

    // Colecție pentru a afișa utilizatorii existenți
    List<ApplicationUser> ColUsers = new List<ApplicationUser>();

    // Opțiuni pentru a afișa în dropdown-ul de roluri când se editează un utilizator
    List<string> Options = new List<string>() { "Student", "Administrator" };

    // Pentru a ține eventualele erori
    string strError = "";

    // Pentru a permite afișarea ferestrei popup
    bool ShowPopup = false;

    private string? emailConfirmationLink;
    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? Email { get; set; }

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // asigură că există un rol ADMINISTRATION_ROLE
        var RoleResult = await _RoleManager.FindByNameAsync(ADMINISTRATION_ROLE);
        if (RoleResult == null)
        {
            // Creează rolul ADMINISTRATION_ROLE
            await _RoleManager.CreateAsync(new IdentityRole(ADMINISTRATION_ROLE));
        }

        // Asigură că un utilizator numit admin@colaborare.cloud este Administrator
        var user = await _UserManager.FindByNameAsync("admin@colaborare.cloud");
        if (user != null)
        {
            // Este admin@colaborare.cloud în rolul de administrator?
            var UserResult = await _UserManager.IsInRoleAsync(user, ADMINISTRATION_ROLE);
            if (!UserResult)
            {
                // Pune admin în rolul de Administrator
                await _UserManager.AddToRoleAsync(user, ADMINISTRATION_ROLE);
            }
        }

        // Obține utilizatorul curent autentificat
        CurrentUser = (await authenticationStateTask).User;

        // Obține utilizatorii
        await GetUsers();


    }

    public async Task GetUsers()
    {
        // șterge eventualele mesaje de eroare
        strError = "";

        // Colecție pentru a ține utilizatorii
        ColUsers = new List<ApplicationUser>();

        // obține utilizatorii de la _UserManager
        var users = _UserManager.Users.Select(x => new ApplicationUser
            {
                Id = x.Id,
                UserName = x.UserName,
                Email = x.Email,
                FirstName = x.FirstName,
                LastName = x.LastName,
                PhoneNumber = x.PhoneNumber,
                EmailConfirmed = x.EmailConfirmed
            });

        foreach (var item in users)
        {
            var roles = await _UserManager.GetRolesAsync(item); // Obține rolurile pentru utilizator

            item.RolName = roles.FirstOrDefault();
            if (item.RolName == null)
            {
                item.RolName = "Student";
            }

            ColUsers.Add(item);
        }
    }

    void AddNewUser()
    {
        // Creează un utilizator nou
        objUser = new ApplicationUser();
        objUser.PasswordHash = "*****";

        // Setează Id-ul ca fiind gol pentru a ști că este o înregistrare nouă
        objUser.Id = "";

        CurrentUserRole = Options.First();

        // Deschide fereastra popup
        ShowPopup = true;
    }

    async Task SaveUser()
    {
        try
        {
            bool isValid = true;

            if (string.IsNullOrEmpty(objUser.FirstName))
            {
                validationMessageFirstName = "Câmpul Prenume este obligatoriu";
                isValid = false;
            }
            else
            {
                validationMessageFirstName = "";
            }

            if (string.IsNullOrEmpty(objUser.LastName))
            {
                validationMessageLastName = "Câmpul Nume este obligatoriu";
                isValid = false;
            }
            else
            {
                validationMessageLastName = "";
            }

            if (string.IsNullOrEmpty(objUser.Email))
            {
                validationMessageEmail = "Câmpul Email este obligatoriu";
                isValid = false;
            }
            else if (!IsValidEmail(objUser.Email))
            {
                validationMessageEmail = "Adresa de Email nu este validă";
                isValid = false;
            }
            else
            {
                validationMessageEmail = "";
            }

            if (!isValid)
            {
                return;
            }

            // Este acesta un utilizator existent?
            if (objUser.Id != "")
            {
                // Obține utilizatorul
                var user = await _UserManager.FindByIdAsync(objUser.Id);

                user.FirstName = objUser.FirstName;
                user.LastName = objUser.LastName;
                user.Email = objUser.Email;
                user.PhoneNumber = objUser.PhoneNumber;

                // Actualizează utilizatorul
                await _UserManager.UpdateAsync(user);

                // Este utilizatorul în rolul de administrator?
                var UserResult =
                    await _UserManager
                    .IsInRoleAsync(user, ADMINISTRATION_ROLE);

                // Este rolul de Administrator selectat
                // dar utilizatorul nu este un Administrator?
                if (
                    (CurrentUserRole == ADMINISTRATION_ROLE)
                    &
                    (!UserResult))
                {
                    // Pune admin în rolul de Administrator
                    await _UserManager
                        .AddToRoleAsync(user, ADMINISTRATION_ROLE);
                }
                else
                {
                    // Este rolul de Administrator ne-selectat
                    // dar utilizatorul este un Administrator?
                    if ((CurrentUserRole != ADMINISTRATION_ROLE)
                        &
                        (UserResult))
                    {
                        // Scoate utilizatorul din rolul de Administrator
                        await _UserManager
                            .RemoveFromRoleAsync(user, ADMINISTRATION_ROLE);
                    }
                }
            }
            else
            {
                var NewUser =
                    new ApplicationUser
                        {
                            UserName = string.IsNullOrWhiteSpace(objUser.Email) ? "placeholder" : objUser.Email,
                            FirstName = objUser.FirstName,
                            LastName = objUser.LastName,
                            PhoneNumber = objUser.PhoneNumber,
                            Email = objUser.Email,
                            RolName = CurrentUserRole
                        };

                var password = GenerateRandomPassword();

                var CreateResult =
                    await _UserManager
                    .CreateAsync(NewUser, password);

                if (!CreateResult.Succeeded)
                {
                    if (CreateResult
                        .Errors
                        .FirstOrDefault() != null)
                    {
                        strError =
                            CreateResult
                            .Errors
                            .FirstOrDefault()
                            .Description;
                    }
                    else
                    {
                        strError = "Create error";
                    }

                    // Păstrează fereastra popup deschisă
                    return;
                }
                else
                {
                    var user = await _UserManager.FindByEmailAsync(objUser.Email);
                    if (user is null)
                    {
                        HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
                        statusMessage = "Error finding user for unspecified email";
                    }
                    else
                    {
                        var loggedInUserId = CurrentUser.FindFirst(c => c.Type.Equals(ClaimTypes.NameIdentifier))?.Value;

                        var loggdInUserEmail = "";
                        var loggdInUserFullName = "";

                        if (!string.IsNullOrEmpty(loggedInUserId))
                        {
                            // Folosind DbContext pentru a găsi utilizatorul după ID-ul său
                            var loggdInUser = dbContext.Users.FirstOrDefault(u => u.Id == loggedInUserId);

                            if (loggdInUser != null)
                            {
                                // Presupunând că Email și FullName sunt proprietăți ale clasei ApplicationUser
                                loggdInUserEmail = loggdInUser.Email;
                                loggdInUserFullName = loggdInUser.FullName;
                            }
                        }

                        var userId = await _UserManager.GetUserIdAsync(user);
                        var code = await _UserManager.GenerateEmailConfirmationTokenAsync(user);
                        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
                        emailConfirmationLink = NavigationManager.GetUriWithQueryParameters(
                            NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
                            new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code, ["returnUrl"] = ReturnUrl });

                        await EmailSender.SendEmailAsync(objUser.Email, "Confirmare înrolare Colaborare Cloud", "<b>" + user.FullName + "</b> ai fost înrolat de către <b>" + loggdInUserFullName + "</b> (<b>" + loggdInUserEmail + "</b>) în platforma Colaborare Cloud cu adresa de mail <b>" + objUser.Email + "</b> și parola autogenerată <b>" + password + "</b> pe care o poți schimba după autentificare.<br/><br/> Accesează linkul pentru a confirma înrolarea contului în Colaborare Cloud " + HtmlEncoder.Default.Encode(emailConfirmationLink) + " după care continuă autentificarea");
                    }

                    // Gestionare roluri
                    if (CurrentUserRole == ADMINISTRATION_ROLE)
                    {
                        // Pune admin în rolul de Administrator
                        await _UserManager
                            .AddToRoleAsync(NewUser, ADMINISTRATION_ROLE);
                    }
                }
            }

            // Închide fereastra popup
            ShowPopup = false;

            // Reîmprospătează utilizatorii
            await GetUsers();
        }
        catch (Exception ex)
        {
            strError = ex.GetBaseException().Message;
        }
    }

    public static string GenerateRandomPassword(int length = 12)
    {
        const string upperCaseChars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        const string specialChars = "!@#$%^&*()_+-=";
        const string digitChars = "0123456789"; // String pentru caracterele cifre
        const string validChars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890!@#$%^&*()_+-=";

        // Folosind un generator de numere aleatorii criptografic sigur
        using (var rng = RandomNumberGenerator.Create())
        {
            StringBuilder password = new StringBuilder();

            // Adaugă o literă mare aleatorie
            password.Append(upperCaseChars[GetInt(rng, upperCaseChars.Length)]);

            // Adaugă un caracter special aleatoriu
            password.Append(specialChars[GetInt(rng, specialChars.Length)]);

            // Adaugă o cifră aleatorie
            password.Append(digitChars[GetInt(rng, digitChars.Length)]);

            // Completează restul lungimii parolei cu caractere aleatorii din setul valid
            while (password.Length < length)
            {
                password.Append(validChars[GetInt(rng, validChars.Length)]);
            }

            // Amestecă parola construită pentru a randomiza pozițiile caracterelor garantate
            var shuffledPassword = password.ToString().ToCharArray();
            Shuffle(shuffledPassword, rng);

            return new string(shuffledPassword);
        }
    }

    // Metoda GetInt pentru a genera un număr întreg aleatoriu într-un interval specific
    private static int GetInt(RandomNumberGenerator rng, int max)
    {
        byte[] intBytes = new byte[4];
        rng.GetBytes(intBytes);
        return Math.Abs(BitConverter.ToInt32(intBytes, 0)) % max;
    }

    // Metoda Shuffle pentru a randomiza caracterele din parolă
    private static void Shuffle(char[] array, RandomNumberGenerator rng)
    {
        int n = array.Length;
        while (n > 1)
        {
            byte[] box = new byte[1];
            do rng.GetBytes(box);
            while (!(box[0] < n * (Byte.MaxValue / n)));
            int k = (box[0] % n);
            n--;
            (array[k], array[n]) = (array[n], array[k]);
        }
    }

    async Task EditUser(ApplicationUser _ApplicationUser)
    {
        // Setează utilizatorul selectat
        // ca utilizatorul curent
        objUser = _ApplicationUser;

        // Obține utilizatorul
        var user = await _UserManager.FindByIdAsync(objUser.Id);
        if (user != null)
        {
            // Este utilizatorul în rolul de administrator?
            var UserResult =
                await _UserManager
                .IsInRoleAsync(user, ADMINISTRATION_ROLE);

            if (UserResult)
            {
                CurrentUserRole = ADMINISTRATION_ROLE;
            }
            else
            {
                CurrentUserRole = "Student";
            }
        }

        // Deschide fereastra popup
        ShowPopup = true;
    }

    private ConfirmDialog dialog;

    async Task DeleteUser()
    {
        // Obține utilizatorul
        var user = await _UserManager.FindByIdAsync(objUser.Id);

        var options = new ConfirmDialogOptions
            {
                YesButtonText = "Confirm",
                YesButtonColor = ButtonColor.Danger,
                NoButtonText = "Renunț",
                NoButtonColor = ButtonColor.Primary
            };

        var confirmation = await dialog.ShowAsync(
                 title: "Această acțiune este ireveresibilă",
                 message1: "Confirmați ștergerea utilizatorului " + user.LastName + " " + user.FirstName,
                 confirmDialogOptions: options);


        if (!confirmation)
        {
            return;
        }

        // Închide fereastra popup
        ShowPopup = false;

        // dacă utilizatorul are acces la dosare, șterge accesul pentru a păstra baza de date curată :)
        var accessesToRemove = await dbContext.FolderAccess
                                         .Where(fa => fa.UserId == objUser.Id)
                                         .ToListAsync();

        if (accessesToRemove.Any())
        {
            dbContext.FolderAccess.RemoveRange(accessesToRemove);
            await dbContext.SaveChangesAsync();
        }

        if (user != null)
        {
            // Șterge utilizatorul
            await _UserManager.DeleteAsync(user);
        }

        // Reîmprospătează utilizatorii
        await GetUsers();
    }

    async Task ClosePopup()
    {
        // Închide fereastra popup
        ShowPopup = false;
        await GetUsers();
    }


    // Metodă pentru a valida formatul emailului
    bool IsValidEmail(string email)
    {
        if (string.IsNullOrWhiteSpace(email))
            return false;

        try
        {
            // Normalizează domeniul
            email = Regex.Replace(email, @"(@)(.+)$", DomainMapper,
                                  RegexOptions.None, TimeSpan.FromMilliseconds(200));

            // Examinează partea de domeniu a emailului și o normalizează.
            string DomainMapper(Match match)
            {
                // Folosește clasa IdnMapping pentru a converti numele de domeniu Unicode.
                var idn = new System.Globalization.IdnMapping();

                // Extrage și procesează numele de domeniu (aruncă ArgumentException pentru invalid)
                var domainName = idn.GetAscii(match.Groups[2].Value);

                return match.Groups[1].Value + domainName;
            }
        }
        catch (RegexMatchTimeoutException e)
        {
            return false;
        }
        catch (ArgumentException e)
        {
            return false;
        }

        try
        {
            return Regex.IsMatch(email,
                @"^[^@\s]+@[^@\s]+\.[^@\s]+$",
                RegexOptions.IgnoreCase, TimeSpan.FromMilliseconds(250));
        }
        catch (RegexMatchTimeoutException)
        {
            return false;
        }
    }

}
